body {
  margin: 0;
  background-image: url("/16BitSkyline.png");
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

#myCanvas {
  background: rgb(123, 123, 123);
  opacity: 1;
}
