body {
  margin: 0;
  background-image: url("/16BitSkyline.png");
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

#carCanvas {
  background: rgb(123, 123, 123);
  box-shadow: 0rem 0rem 200px black;
  opacity: 1;
}
#networkCanvas {
  background: black;
}
